<div class="col-md-6 offset-md-3">
    <div class="card">
        <div class="card-header">        
            <h1 align="center">Inicia Sesión</h1>
        </div>
        <div class="card-body">
        </div>
        <div class="card-footer">
            <div>
                <fieldset>
                    <div class="form-group">
                        <input type="text" name="email" id="email" placeholder="E-Mail" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="text" name="password" id="password" placeholder="Password" class="form-control">
                    </div>
                    <div style="display: flex;">
                        <button id="quickstart-sign-in" onclick="loginApp();" class="btn btn-primary" style="width:50%;">
                            Login
                        </button>
                        <button id="quickstart-sign-up" onclick="signUpApp();" class="btn btn-primary" style="width:50%; margin-left:5%">
                            Registrate
                        </button>
                    </div>
                </fieldset>
                <script src="js/funcs.js"></script>
            </div>
        </div>
    </div>
</div>